<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="usf_robot">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import usf_robot urdf file -->
    <xacro:include filename="$(find usf_robot_description)/urdf/usf_robot.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="usf_robot.ros2_control.xacro" />


    <xacro:usf_robot_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
